<%= link_to("Home", "http://ec2-54-183-242-35.us-west-1.compute.amazonaws.com/")%>
<br>
<h1>Justin's World Ladder Game</h1>
<br>
<br>
<br>
<%= form_tag(wladder_path, method: "get") do  %>
	<%= "Start: " + @start_word%>
    <%= hidden_field_tag(:word0, @start_word) %>
<br>
	<%= label_tag(:word1, "Word 1: ") %>
	<%= text_field_tag(:guess1) %>
<br>	
	<%= label_tag(:word2, "Word 2: ") %>
	<%= text_field_tag(:guess2) %>
<br>
	<%= label_tag(:word3, "Word 3: ") %>
	<%= text_field_tag(:guess3) %>
<br> 
	<%= label_tag(:word4, "Word 4: ") %>
	<%= text_field_tag(:guess4) %>
<br>
	<%= label_tag(:word5, "Word 5: ") %>
	<%= text_field_tag(:guess5) %>
	<%= submit_tag("Check Answer")%>
<br>
<%= "End word: " + @end_word %>
    <%= hidden_field_tag(:word6, @end_word) %>
<br>
<% end %>
<br>
