<%= form_for(@image) do |f| %>
<%= f.file_field :uploaded_file %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
<br>
    <%= f.label :private %><br>
    <%= f.check_box :private %>
  </div>
<%=f.fields_for :tags do |tags_form|%>
	<%=tags_form.label :tag%>
	<%=tags_form.text_field :tag%>
<br>
<br>
<%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
