<h1>Editing image</h1>
<%= form_for(@image) do |f| %>
<%= f.file_field :update%>
<% if @image.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved: </h2>
	<ul>
	<% @image.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<%end%>
	</ul>
	</div>
<%end%>
<p>
	<%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %>
<br>
</p>
<div class="field">
	<%= f.label :private %><br>
	<%= f.check_box :private %>
</div>
<div class="field">
	<%= f.label :tags%> <br>
	<%= f.text_field :tags %>
</div>
<div class ="actions">
	<%= f.submit %>
</div>
<%end%>
<br>
<br>
<%= button_to "delete", @image, :method => :delete, data: {confirm: 'Are you fuckin sure you want to delete this shit?'}%>
<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
