<%= link_to("Home", "http://ec2-54-183-242-35.us-west-1.compute.amazonaws.com/")%>
<br>

<% if user_signed_in?%>
<br>
<%= link_to "New Image", new_image_path %>
<%end%>
<table>
  <tbody>
	<% if user_signed_in?%>
	<h1>My Images</h1><br>
		<% @my_images.each do |image| %>
      		<tr>
       			<%= link_to 'Show', image %><br>
			<%= image_tag root_url + "images/" + image.filename, size: "100x100", alt: image.filename %><br>
		<%end%>
	<%end%>
      </tr>
  </tbody>
</table>

<table>
  <tbody>
<h1>Public Images</h1>
   <% @p_images.each do |image| %>
       	<%= link_to 'Show', image %><br>
	<%= image_tag root_url + "images/" + image.filename, size: "100x100", alt: image.filename %><br>
	<tr>
   <%end%>

<br>
