<%= link_to("Home", "http://ec2-54-183-242-35.us-west-1.compute.amazonaws.com/")%>
<br>
<h1>Listing images</h1>

<table>

  <tbody>
    <% @images.each do |image| %>
      <tr>
	<% if user_signed_in? %>
	<td><%= image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename %>
        <td><%= image.user_id %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
	<%else%>
	<td><%= image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename %>
        <td><%= image.user_id %></td>
	<%end%>
        <td><%= link_to 'Show', image %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in?%>
<%= link_to 'New Image', new_image_path %>
<%end%>
