<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%end%>
<%= link_to 'Back', images_path %>

<p>
  <strong>Private:</strong>
  <%= @image.private%>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>
<p>
	<%= image_tag root_url + "/images/" + @image.filename, alt: @image.filename %>
<br>

