<%= form_for(@doi) do |f| %>
  <% if @doi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doi.errors.count, "error") %> prohibited this doi from being saved:</h2>

      <ul>
      <% @doi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doi_num %><br>
    <%= f.number_field :doi_num %>
  </div>
<%= f.fields_for :urls do |urls_form| %>
	<h3>New URL</h3>
	<div style="margin-left:30px;">
	<div class="field">
	<%= urls_form.label :address %><br>
	<%= urls_form.text_field :address %>
	</div>
	<div class="field>
	<%=urls_form.label :comment %><br>
	<%=urls_form.text_field :comment %>
	</div>
	<% end %>
<br>
<div class="actions">
<%= f.submit%>
</div>
<% end %>
