<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Comment</th>
      <th>Doi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doi.urls.each do |url| %>
<% if !url.new_record? %>
      <tr>
        <td><%= url.address %></td>&nbsp&nbsp
        <td><%= url.comment %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<%end%>
    <% end %>
  </tbody>
</table>
<br>
<br>
<h3> Create New URL</h3>
<%= render 'urls/form' %>
<br>

<br>

<%= link_to 'Url List', dois_path %>
